<div class="pokemon-pag">
  <div class="lateral-bar">
    <div class="pokemon-card">
      <img src="{{pokemon.sprites.front_default}}" alt="Imagem_pokemon" class="img_pokemon"/>
      <label class="name_pokemon">
        <strong class="id_pokemon">
          #{{ pokemon.id }}
        </strong>
        {{ pokemon.name.toUpperCase() }}
      </label>
    </div>

    <div class="caracteristicas">
      <p>
        <strong>Experiência base: </strong> {{ pokemon.base_experience }}
      </p>
      <hr>
      <p>
        <strong>Altura: </strong> {{ (pokemon.height * 0.10).toFixed(2) }} m
      </p>
      <hr>
      <p>
        <strong>Peso: </strong> {{ (pokemon.weight * 0.10).toFixed(3) }} Kg
      </p>
    </div>
  </div>

  <div class="informacoes-pokemon">
    <hr>
    <div class="tipos-header">
      <div class="tipos-pokemon" *ngFor="let types of pokemon.types">
          <label for="Tipos" class="label-tipo">{{ types.type.name.toUpperCase() }}</label>
      </div>
    </div>
    <hr>

    <div class="habilidades">
      <h1>
        Habilidades
      </h1>

      <div class="habilidades-pokemon" *ngFor="let abilities of pokemon.abilities">
        <img src="../../../assets/pngegg.png" alt="">
        <p>
          {{ abilities.ability.name.toUpperCase() }}
        </p>
      </div>

    </div>

    <div class="movimentos">
      <h1>
        Movimentos
      </h1>

      <div class="movimentos-pokemon" *ngFor="let moves of pokemon.moves">
        {{ moves.move.name.toUpperCase() }}
      </div>
    </div>

    <div class="status">
      <h1>
        Status
      </h1>

      <div class="status-pokemon" *ngFor="let stat of pokemon.stats">
        {{ stat.stat.name.toUpperCase() }}:


        {{ stat.base_stat }}
      </div>
    </div>

  </div>



</div>
