.pokemon-pag{
  display: flex;
}

.pokemon-card{
  width: 350px;
  height: 400px;
  border: 10px solid rgba(112, 112, 112, 0.4);
  border-radius: 20px;
}

.img_pokemon{
  width: 300px;
  height: 300px;
}

.pokemon-card .img_pokemon{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.pokemon-card .name_pokemon{
  padding: 10px;
  margin-bottom: 0px;
  font-size: xx-large;
  display: flex;
  justify-content: center;
}

.id_pokemon{
  color:rgb(197, 5, 5);
}

.caracteristicas{
  font-size: x-large;
  padding: 10px 0px;
  background-color: rgba(112, 112, 112, 0.1);
  width:90%;

  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.caracteristicas p{
  padding: 5px 0px;
  margin-left: 40px;
}

.lateral-bar{
  width: 370px;
}

.lateral-bar hr {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(85, 85, 85);
}

.tipos-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:15%;
  height: 100px;
  width: 100%;
}

.tipos-pokemon{
  border: 5px solid rgba(112, 112, 112);
  border-radius: 20px;
  background-color: white;
}

.label-tipo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  height: 60px;
  width: 200px;
}

.informacoes-pokemon{
  width: 100%;
  margin: 10px;
}

.informacoes-pokemon hr{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.habilidades-pokemon{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.habilidades-pokemon h1{
  margin: 15px 0px;
}

.habilidades-passivas p{
  font-size: larger;
  margin: 5px 10px;
}
