<div class="pokemon-pag">
  <div class="lateral-bar">
        <!-- CARD -->
    <div class="pokemon-card">
      <img src="{{pokemon.sprites.front_default}}" alt="Imagem_pokemon" class="img_pokemon"/>
      <label class="name_pokemon">
        <strong class="id_pokemon">
          #{{ pokemon.id }}
        </strong>
        {{ pokemon.name.toUpperCase() }}
      </label>
    </div>
        <!-- INFO CARD  -->
    <div class="caracteristicas">
      <p>
        <strong>Experiência base: </strong> {{ pokemon.base_experience }}
      </p>
      <hr>
      <p>
        <strong>Altura: </strong> {{ (pokemon.height * 0.10).toFixed(2) }} m
      </p>
      <hr>
      <p>
        <strong>Peso: </strong> {{ (pokemon.weight * 0.10).toFixed(3) }} Kg
      </p>
    </div>
      <!-- HABILIDADES -->
    <div class="habilidades">
      <h1>
        HABILIDADES
      </h1>
      <div *ngFor="let abilities of pokemon.abilities">
        <app-pokemon-ability [abilityUrl]="abilities.ability.url"></app-pokemon-ability>
      </div>
    </div>
  </div>
  <!-- INFORMAÇÕES -->
  <div class="informacoes-pokemon">
    <hr>
    <!-- TIPOS -->
    <div class="types">
      <div *ngFor="let type of pokemon.types">
        <app-pokemon-type [types]="type.type.name"></app-pokemon-type>
      </div>
    </div>

    <hr>
    <!-- INFORMAÇÕES CORPO -->
    <div class="body-info">
      <!-- MOVIMENTOS -->
        <h1>
          MOVIMENTOS
        </h1>
      <!--
        <div *ngFor="let moves of pokemon.moves | slice:0:10">
      -->
      <div *ngFor="let moves of pokemon.moves">
        <app-pokemon-move [moveUrl]="moves.move.url"></app-pokemon-move>
      </div>
      <!-- BOTÃO CARREGAR MAIS -->
      <div class="load-more-button">
        <app-load-more-button></app-load-more-button>
      </div>

      <!-- STATUS
      <div class="status">
        <h1>
          STATUS
        </h1>
        <div class="status-pokemon" *ngFor="let stat of pokemon.stats">
          {{ stat.stat.name.toUpperCase() }}: {{ stat.base_stat }}
        </div>
      </div>
      -->
    </div>
  </div>
</div>
