.pokemon-pag{
  display: flex;
}

.pokemon-card{
  width: 350px;
  height: 400px;
  border: 10px solid rgba(112, 112, 112, 0.5);
  border-radius: 20px;
}

.img_pokemon{
  width: 300px;
  height: 300px;
}

.pokemon-card .img_pokemon{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.pokemon-card .name_pokemon{
  padding: 10px;
  margin-bottom: 0px;
  font-size: xx-large;
  display: flex;
  justify-content: center;
}

.id_pokemon{
  color:rgb(197, 5, 5);
}

.caracteristicas{
  font-size: x-large;
  padding: 10px 0px;
  background-color: rgba(112, 112, 112, 0.4);
  width:90%;

  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.caracteristicas p{
  padding: 5px 0px;
  margin-left: 40px;
}

.lateral-bar{
  width: 370px;
}

.lateral-bar hr {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(85, 85, 85);
}

/* TIPOS */

.types{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:15%;
  /*
  height: 100px;
  width: 100%;
  */
}

/* CARACTERÍSTICAS */

.informacoes-pokemon{
  width: 100%;
  margin: 10px;
}

.informacoes-pokemon hr{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

/* BODY INFO */
.body-info{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.body-info h1{
  margin: 15px 0px;
  font-size: x-large;
}

/* HABILIDADES */
.habilidades{
  margin: 10px 0px;

  width: 80%;
  margin-left: auto;
  margin-right: auto;

  border-left: 2px solid rgba(0, 0, 0, 0.4);;
}

.habilidades h1 {
  font-size: xx-large;
  margin: 10px;
  text-align: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);;
}

/* STATUS */
.status h1{
  margin: 15px 0px;
}

.status {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.status-pokemon{
  font-size: larger;
  margin: 5px 10px;

  display: grid;
  border: 1px solid red;

}

