<div class="move-card">
    <strong class="move-id">#{{ movePokemon.id }}</strong>&nbsp;
    <span class="move-name" >{{ movePokemon.name.toUpperCase() }}</span>&nbsp;|
    <span class="move-class"><i> {{ movePokemon.damage_class.name.toUpperCase() }} </i></span>&nbsp;|
    <strong class="move-acurracy">Accuracy: {{ movePokemon.accuracy }} </strong>&nbsp;|
    <strong class=""> {{ movePokemon.type.name.toUpperCase() }} </strong>
    <hr>
    <p class="move-descricao">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque modi exercitationem autem ipsum voluptatum commodi animi sit. Quae porro eligendi earum doloremque officia recusandae in quas, deserunt nam, reiciendis deleniti.
    </p>
</div>
