<div class="search-bar">
  <app-pokemon-search
    (filteredText)="onSearchedTextEntered($event)"
    (next)="onNextPage($event)"
    (previous)="onPreviousPage($event)"
    (allFavoritesEvent)="onAllFavorites($event)"
    [count]="count"
    [limit]="limit"
    >
  </app-pokemon-search>

</div>
<div class="pokemon-app">
  <div class="pokemons-card" *ngFor="let pokemon of getAllPokemons">
    <!-- <div routerLink="/Pokemons/{{pokemon.name}}"> -->
      <div>
        <app-pokemon-card [pokemonUrl]="pokemon.url"></app-pokemon-card>
      </div>
  </div>
</div>
