<div class="search-bar">

  <div class="fav-icon">
    <!-- Efeito de pulsação -> fa-beat-fade
      <i class="fa-solid fa-heart fa-beat-fade"></i>
    -->
    <i class="fa-solid fa-heart"></i>
  </div>

  <div class="input-bar">
    <input
    type="search"
    name = "pokemonPesquisa"
    placeholder="Digite o nome do pokemon..."
    autofocus
    [(ngModel)]="filter"
    (input)="onfilteredText()"
    >
    <!--
      <button class="search-button" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    -->
  </div>

  <div class="paginate">
    <button class="arrows" (click)="onPrevious()">
      <i class="fa-solid fa-circle-left"></i>
    </button>

    <p class="page">
      Página {{ page }}
    </p>

    <button class="arrows" (click)="onNext()">
      <i class="fa-solid fa-circle-right"></i>
    </button>
  </div>

</div>
