.search-bar{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.fav-icon{
  padding: 10px;
  font-size: xx-large;
  border-radius: 10px;
}

.fav-icon:hover{
  transform: scale(1.1);
  color: red;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.input-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
}

input{
  width: 100% ;
  height: 50px;

  font-size: 20px;
  background-color: rgba( 170, 170, 170, 0.3);

  border: 0px;
  outline: none;

  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

.paginate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.page{
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: x-large;

  width: 150px;
  height: 40px;

  border-radius: 20px;
  border: 2px solid rgba(138, 138, 138, 0.4);
}

.arrows{
  width: 50px;
  height: 50px;
  font-size: xx-large;
  border-style: none;
}

.arrows:hover{
  cursor: pointer;
  outline: none;
  border-style: none;

  color: brown;
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}
